# Yandex.Afisha marketing analysis

## Contents <a id='back'></a>

1. [Introduction](#introduction)
2. [Data Loading and Inspection](#data_loading_and_inspection)

## 1. Introduction <a id='introduction'></a>

This is the project for the "Business Analytics" of the Tripleten's DA course. 

We have been tasked with optimizing marketing spending for Yandex.Afisha. To accomplish this, we have access to visits logs, orders and marketing expenses.

[Back to Contents](#back)

## 2. Data Loading and Inspection <a id='data-loading-and-inspection'></a>

For this project we'll be using the following:
- Python 3.9.5
- Pandas 1.2.4

Versions were chosen so they match as closely as possible the versions available on the Tripleten servers

In [1]:
import pandas as pd

There are three data files to read:
- visits_log_us.csv: server logs with data on website visits
- orders_log_us.csv: data on orders
- costs_us.csv: data on marketing expenses

In [2]:
def load_csv(file: str):
    try: # Local file path
        filepath=f'datasets/{file}'
        df = pd.read_csv(filepath)
    except FileNotFoundError: # Tripleten server file path
        filepath=f'/datasets/{file}'
        df = pd.read_csv(filepath)
    return df

In [3]:
visits = load_csv('visits_log_us.csv')
orders = load_csv('orders_log_us.csv')
costs = load_csv('costs_us.csv')

The next step is to do the following to each table: 

- check for missing data
- check for duplicates
- correct column names
- correct data types

Lets create some functions to help with that.

In [4]:
def full_info(df: pd.DataFrame):
    df.info(memory_usage='deep')
    display(df.head(5))
    print(f'Duplicated rows: {df.duplicated().sum()}')

In [5]:
def format_columns(names: list):
    fixed_names = []
    for name in names:
        fixed = name.lower()
        fixed = fixed.replace(' ', '_')
        fixed_names.append(fixed)
    return fixed_names

### Visits data

In [6]:
full_info(visits)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359400 entries, 0 to 359399
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Device     359400 non-null  object
 1   End Ts     359400 non-null  object
 2   Source Id  359400 non-null  int64
 3   Start Ts   359400 non-null  object
 4   Uid        359400 non-null  uint64
dtypes: int64(1), object(3), uint64(1)
memory usage: 79.3 MB

,Device,End Ts,Source Id,Start Ts,Uid
0,touch,2017-12-20 17:38:00,4,2017-12-20 17:20:00,16879256277535980062
1,desktop,2018-02-19 17:21:00,2,2018-02-19 16:53:00,104060357244891740
2,touch,2017-07-01 01:54:00,5,2017-07-01 01:54:00,7459035603376831527
3,desktop,2018-05-20 11:23:00,9,2018-05-20 10:59:00,16174680259334210214
4,desktop,2017-12-27 14:06:00,3,2017-12-27 14:06:00,9969694820036681168

Duplicated rows: 0

No missing or duplicated values.

In [7]:
visits.columns = format_columns(visits.columns)

In [8]:
date_format = '%Y-%m-%d %H:%M'
visits['start_ts'] = pd.to_datetime(visits['start_ts'], format=date_format)
visits['end_ts'] = pd.to_datetime(visits['end_ts'], format=date_format)

visits['device'] = visits['device'].astype('category')

Let's check that everything is correct now.

In [9]:
full_info(visits)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359400 entries, 0 to 359399
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   device     359400 non-null  category
 1   end_ts     359400 non-null  datetime64[ns]
 2   source_id  359400 non-null  int64
 3   start_ts   359400 non-null  datetime64[ns]
 4   uid        359400 non-null  uint64
dtypes: category(1), datetime64[ns](2), int64(1), uint64(1)
memory usage: 11.3 MB

,device,end_ts,source_id,start_ts,uid
0,touch,2017-12-20 17:38:00,4,2017-12-20 17:20:00,16879256277535980062
1,desktop,2018-02-19 17:21:00,2,2018-02-19 16:53:00,104060357244891740
2,touch,2017-07-01 01:54:00,5,2017-07-01 01:54:00,7459035603376831527
3,desktop,2018-05-20 11:23:00,9,2018-05-20 10:59:00,16174680259334210214
4,desktop,2017-12-27 14:06:00,3,2017-12-27 14:06:00,9969694820036681168

Duplicated rows: 0

### Orders data

In [10]:
full_info(orders)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50415 entries, 0 to 50414
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Buy Ts   50415 non-null  object
 1   Revenue  50415 non-null  float64
 2   Uid      50415 non-null  uint64
dtypes: float64(1), object(1), uint64(1)
memory usage: 4.4 MB

                Buy Ts  Revenue                   Uid
0  2017-06-01 00:10:00    17.00  10329302124590727494
1  2017-06-01 00:25:00     0.55  11627257723692907447
2  2017-06-01 00:27:00     0.37  17903680561304213844
3  2017-06-01 00:29:00     0.55  16109239769442553005
4  2017-06-01 07:58:00     0.37  14200605875248379450

Duplicated rows: 0

No missing or duplicated values.

In [11]:
orders.columns = format_columns(orders.columns)

In [12]:
date_format = '%Y-%m-%d %H:%M'
orders['buy_ts'] = pd.to_datetime(orders['buy_ts'], format=date_format)

Final check to see that everything is ok.

In [13]:
full_info(orders)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50415 entries, 0 to 50414
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   buy_ts   50415 non-null  datetime64[ns]
 1   revenue  50415 non-null  float64
 2   uid      50415 non-null  uint64
dtypes: datetime64[ns](1), float64(1), uint64(1)
memory usage: 1.2 MB

               buy_ts  revenue                   uid
0 2017-06-01 00:10:00    17.00  10329302124590727494
1 2017-06-01 00:25:00     0.55  11627257723692907447
2 2017-06-01 00:27:00     0.37  17903680561304213844
3 2017-06-01 00:29:00     0.55  16109239769442553005
4 2017-06-01 07:58:00     0.37  14200605875248379450

Duplicated rows: 0

### Costs data

In [14]:
full_info(costs)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2542 entries, 0 to 2541
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   source_id  2542 non-null   int64
 1   dt         2542 non-null   object
 2   costs      2542 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 206.2 KB

   source_id          dt  costs
0          1  2017-06-01  75.20
1          1  2017-06-02  62.25
2          1  2017-06-03  36.53
3          1  2017-06-04  55.00
4          1  2017-06-05  57.08

Duplicated rows: 0

Again, no missing or duplicated values. Column names are correctly formated.

In [15]:
date_format = '%Y-%m-%d'
costs['dt'] = pd.to_datetime(costs['dt'], format=date_format)

Final check.

In [16]:
full_info(costs)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2542 entries, 0 to 2541
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   source_id  2542 non-null   int64
 1   dt         2542 non-null   datetime64[ns]
 2   costs      2542 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 59.7 KB

   source_id         dt  costs
0          1 2017-06-01  75.20
1          1 2017-06-02  62.25
2          1 2017-06-03  36.53
3          1 2017-06-04  55.00
4          1 2017-06-05  57.08

Duplicated rows: 0

The dataset is ready. Let's get working.

[Back to Contents](#back)